body {
    background-color: maroon;
    font-family: Arial, sans-serif;
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(230, 157, 157);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: left;
    top: 10px;
    left: 10px;
    font-family: 'Brush Script MT', cursive;
    font-size: 2em
}

h3 {
    text-align: center;
    color: #333;
}

.input-field {
    margin: 15px 0;
}

.input-field label {
    display: inline;
    vertical-align: middle;
}
.radio-field {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-field input[type="radio"] {
    vertical-align: middle;
    margin-right: 5px;
}

.input-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.register {
    margin-top: 20px;
    text-align: center;
}

.register a {
    color: #007BFF;
    text-decoration: none;
}

.register a:hover {
    text-decoration: underline;
}